ul{
    li{
        font-size: 18px;
        font-weight: bold;
        background-image: linear-gradient(to right, #e9edc9,#fefae0,#faedcd);
        margin-bottom: 10px;
        box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.8);
    }
}