


    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="todo"><strong>Todo Item :</strong></label>
          <input type="text" #todo class="form-control" id="todo"> <!--element reference-->
          <div class="text-right my-4">
            <!-- <button class="btn btn-outline-dark"
            (click)="todoitem(todo)">Add Todo</button> -->
            <button class="btn btn-outline-dark"
            (click)="todoitem()">Add Todo</button>
          </div>
        </div>
      </div>
    </div>

