
<h1 class="text-center p-4 heading">TodoList</h1>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="todo"><strong>Todo Item :</strong></label>
            <input type="text" #todo class="form-control" id="todo">--> <!--element reference-->
        <!--    <div class="text-right my-4">
              <button class="btn btn-outline-dark"
              (click)="addtodo(todo)">Add Todo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let skill of skillsArray">
            <span>{{skill}}</span>
            <span>
              <button class="btn btn-primary"><strong>Edit</strong></button>
              <button class="btn btn-danger ml-2"><strong>Delete</strong></button>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-todoform
      (getTodo)="addtodoitem($event)">
      </app-todoform>
      
    </div>
    <div class="col-md-6">
      <app-todolist [addtodo] = "skillsArray">
  
      </app-todolist>
    </div>
  </div>
</div>